@import url("global.css");

@media screen and (max-width: 800px) {
  #content {
    margin: 2rem;
    padding-top: 8rem;
  }

  #banner {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid grey;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding-top: 1rem;
    margin: 0 1rem;
  }

  #banner #logo {
    height: 5rem;
    order: 2;
    margin-top: 1rem;
  }

  #banner nav {
    order: 1;
  }

  #banner nav ul li {
    margin: 0rem 0.5rem;
  }

}

@media screen and (min-width: 801px) {
  #content {
    margin: 2rem 20rem;
  }

  #banner {
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem;
  }

  #banner #logo {
    height:5rem;
    margin-left: 1rem;
  }

  #banner nav {
    margin-right: 1rem;
  }

  #banner nav ul li {
    margin: 0rem 0.5rem;
  }
}

#banner {
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: space-between;
}

#banner nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

#content .button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}