@import url("global.css");

@media screen and (max-width: 800px) {
  #content {
    margin: 2rem;
  }
}

@media screen and (min-width: 800px) {
  #content {
    margin: 2rem 20rem;
  }
}

#content {
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem;

  #logo {
    height: 5rem;
    margin-left: 1rem;
  }

  nav {
    margin-right: 1rem;

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;

      li {
        margin: 0rem 0.5rem;
      }
    }
  }
}
