<div id="banner">
    <div id="logo">
        <img
          src="/public/images/main_logo.svg"
          alt="Magpie Books Logo"
          height="100%"
        />
    </div>
    {% include "./navigation.njk" %}
</div>