<footer>
  <div id="company-info">
    <p>
      Magpie Books CIC - Company number: SC847088
    </p>
  </div>
  <div id="socials">
    <div class="icon">
      <a href="mailto:info@magpie-books.co.uk">
        <img
          src="/public/images/icons/envelope.svg"
          alt="Email Us"
          height="100%"
        />
      </a>
    </div>
    <div class="icon">
      <a href="https://www.instagram.com/magpiebooksedi/">
      <img
        src="/public/images/icons/instagram.svg"
        alt="Email Us"
        height="100%"
      />
      </a>
    </div>
  </div>
</footer>