<button id="hamburger" aria-label="Open navigation" aria-expanded="false">
  <span></span>
  <span></span>
  <span></span>
</button>

<nav id="side-panel">
  <button id="close-nav" aria-label="Close navigation">&#x2715;</button>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="active-nav-link"{% endif %}>
        <a {% if entry.url != page.url %}class="link" {% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>

<div id="nav-overlay"></div>