<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="active-nav-link"{% endif %}>
        <a {% if entry.url != page.url %}class="link" {% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>